doctype html
html(lang="en")
  head
    link(rel='stylesheet')

    block title
      title Kenny Vanaelst
    
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
      
    script(src='http://localhost:35729/livereload.js')
    script(src='scripts/bundle.js')
    
  body
    div.main-wrapper
      
      header.main-header
        a.main-logo(href="contact.html")
          img(src="./images/logo.png", alt="", style="width: #{settings.logo.width}; height: #{settings.logo.height}")
        
        nav.main-navigation
          ul
            li(style="width: #{settings.logo.width}")
              //- dummy
            li 
             a(href="mailto:#{settings.email}") mail
            li
              a(href=settings.facebook, target="_blank") facebook

            
            
            
      section.content-wrapper(style="padding-top: #{settings.logo.height}; padding-top: calc(#{settings.logo.height} + 20px)")    
        block content
