doctype html
html(lang="en")
  head
    link(rel='stylesheet')

    block title
      title= settings.title
    
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
      
    script(src='http://localhost:35729/livereload.js')
    script(src='scripts/bundle.js')
    
  body
    div.main-wrapper
      
      header.main-header
        a.main-logo(href="contact.html")
          img(src="./images/logo.png", alt="", style="width: #{settings.logo.width}; height: #{settings.logo.height}")
        
        nav.main-navigation
          a.nav-item(href="mailto:#{settings.email}") 
            img(src="./images/social/volvak_icon_mail.png", alt="Volvak email" )
          a.nav-item(href=settings.facebook, target="_blank")
            img(src="./images/social/volvak_icon_facebook.png", alt="Volvak Facebook" )
          a.nav-item(href=settings.instagram, target="_blank")
            img(src="./images/social/volvak_icon_instagram.png", alt="Volvak Instagram" )

            
            
            
      section.content-wrapper(style="padding-top: #{settings.logo.height}; padding-top: calc(#{settings.logo.height} + 20px)")    
        block content
